.container{
    background-color: rgb(24, 22, 22);
    height: 500px;
    width: 30%;
}

.item{
    text-decoration: underline;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
}
.do{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    padding: 20px 0px;
}
.list{
    color: green;
}
.last{
    text-decoration: line-through;
    color: red;
}